:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply leading-relaxed;
}

#root {
  @apply w-screen h-screen flex;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  @apply rounded-md px-2 py-1 bg-white bg-opacity-30 font-bold text-opacity-100;
}

button:disabled {
  @apply bg-opacity-10 text-opacity-50;
}

input {
  @apply rounded-md px-2 py-1 bg-white bg-opacity-10;
}


code {
  position: relative;
  @apply mx-2 font-mono text-sm;
}
code::after {
  content: '';
  width: calc(100% + 1rem);
  height: calc(100% + 0.5rem);
  @apply rounded-md font-mono bg-black bg-opacity-30 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 -z-10;
}

input[type="checkbox"] {
  appearance: unset;
  @apply w-5 h-5 relative;
}
input[type="checkbox"]:checked {
  @apply bg-green-500;
}

ul {
  @apply flex flex-col gap-1.5 my-1.5;
}

li {
  @apply ml-8 relative;
}
li::before {
  content: '';
  @apply h-2 w-2 rounded-full bg-white bg-opacity-50 inline-block absolute -left-4 top-1/2 -translate-y-1/2;
}